/*Font colors*/
$base-font-size: 15px;
$base-font-family: "Segoe UI", "Segoe WP","Segoe Regular", sans-serif;
$base-font-color: #666666;

/*Background colors*/
$primary-color:#00aff0;
$secondary-color: #7fba00;
$light-color: #e4eef2;
$dark-color: #2b5464;

/*Showcase area */

$showcase-height: 400px;
$showcase-image:'../img/showcase.jpg';




/*
</section>

<section class="game-info">
    <div class="container">
        <div class="row">
          <div class="col-md-6">
              <div class="game-control block block-primary">
                  <h3>Game Controls</h3>
                  <i class="fa fa-arrow-up"><em> UP</em></i>
                  <i class="fa fa-arrow-down"><em> DOWN</em></i>
                  <br>
                  <i class="fa fa-arrow-left"><em> LEFT</em></i>
                  <i class="fa fa-arrow-right"><em> RIGHT</em></i>



              </div>
          </div>

          <div class="col-md-6">
              <div class="game-about block block-primary">
                  <h3>About Game</h3>
                  <ul class="list list-about">
                      <li>Author: MJDev</li>
                      <li>Genre: Arcade</li>
                      <li>Difficulty: Easy</li>
                      <br>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex facilis quidem soluta. Nobis quas tempore tenetur. Asperiores aspernatur, culpa cum debitis dolores eum,
                          laudantium minus molestias odio quia, quidem sequi.</p>

                  </ul>
              </div>
          </div>




        </div>
    </div>
</section>
*/